<div class="ui grid">
    <div class="row" id="menuRow">
        <div class="sixteen wide column">
            <div class="ui menu">
                <a class="item">
                  Home
                </a>
                <div class="ui pointing dropdown link item" (click)="toggleMenuButton($event)">
                    <span class="text">Kategorien</span>
                    <i class="dropdown icon"></i>
                    <div class="menu transition" [ngClass]="dropdownCategories ? 'visible' : 'hidden'">
                        <div class="item" *ngFor="let category of categories">{{category.name}}</div>
                        <div class="divider" *ngIf="categories.length > 0"></div>
                        <div class="item" (click)="navigateTo('categories/add')">Kategorie anlegen</div>
                        <div class="item">Kategorien verwalten</div>
                    </div>
                </div>
                <div class="ui pointing dropdown link item" (click)="toggleMenuButton($event)">
                    <span class="text">Personen</span>
                    <i class="dropdown icon"></i>
                    <div class="menu transition" [ngClass]="dropdownPersons ? 'visible' : 'hidden'">
                        <div class="item" *ngFor="let category of categories">{{category.name}}</div>
                        <div class="divider" *ngIf="persons.length > 0"></div>
                        <div class="item" (click)="navigateTo('persons/add')">Person anlegen</div>
                        <div class="item">Personen verwalten</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="one wide column"></div>
        <div class="fourteen wide column">
            <router-outlet></router-outlet>
        </div>
        <div class="one wide column"></div>
    </div>
</div>