<div class="container shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
            <div class="mb-3">
                <label for="formFile" class="form-label">Thumbnail auswählen</label>
                <input class="form-control" type="file" id="formFile">
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label for="titleInput" class="form-label">Titel</label>
                <input type="text" class="form-control" id="titleInput" placeholder="Dr. / Prof. / ...">
            </div>
            <div class="mb-3">
                <label for="firstNameInput" class="form-label">Vorname</label>
                <input type="text" class="form-control" id="firstNameInput" placeholder="Vorname eingeben...">
            </div>
            <div class="mb-3">
                <label for="lastNameInput" class="form-label">Nachname</label>
                <input type="text" class="form-control" id="LastNameInput" placeholder="Nachname eingeben...">
            </div>
            <div class="mb-3">
                <label for="descriptionArea" class="form-label">Beschreibung</label>
                <textarea class="form-control" id="descriptionArea" rows="5" maxlength="250" placeholder="Die Person hat folgende Eigenschaften..."></textarea>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="nationalityInput" class="form-label">Nationalität</label>
                <input type="text" class="form-control" id="nationalityInput" placeholder="Herkunftsland..." list="nationalitiesList">
                <datalist id="nationalitiesList">
                    <option [value]="nationality" *ngFor="let nationality of _nationalitiesInDatabase">{{nationality}}</option>
                </datalist>
            </div>
        </div>
    </div>
</div>